<div ng-show="archives.length">
	<h1>
		Handler<span ng-show="handlers.length > 1">s</span>
	</h1>
	<div>
		<button class="btn btn-default" ng-repeat="handler in handlers | orderBy: ''"
			ng-class="{active: handler.active}" ng-click="toggleHandler(handler)">
			{{handler.name}}
		</button>
		<button class="btn btn-default" ng-click="clearHandlerButtons()">
			Clear
		</button>
	</div>
	<h1>
		Weeks
	</h1>
	<div>
		<button class="btn btn-default" ng-repeat="week in weeks | orderBy: ''"
			ng-class="{active: week.active}" ng-click="toggleWeek(week)">
			{{week.date | date:'yyyy/MM/dd'}}
		</button>
		<button class="btn btn-default" ng-click="clearWeekButtons()">
			Clear
		</button>
	</div>
	<h1>
		{{filtered.length}} Archived Issues
	</h1>
	<table class="table">
		<tr ng-repeat-start="issue in archives | orderBy: ['-number'] | filter: filter as filtered">
			<td>
				<a href="http://ims.tmaxsoft.com/tody/ims/issue/issueView.do?issueId={{issue.number}}">{{issue.number}}</a>
			</td>
			<td class="note-author">
				<div ng-repeat="handler in issue.handlers">
					{{handler}}
				</div>
			</td>
			<td>
				{{issue.name}}
			</td>
			<td>
				<span class="label label-success" ng-click="expand(issue)" ng-hide="issue.expand">Expand</span>
				<span class="label label-success" ng-click="shrink(issue)" ng-show="issue.expand">Shrink</span>
			</td>
		</tr>
		<tr ng-if="issue.expand" ng-repeat-end="">
			<td>
			</td>
			<td colspan="3">
				<table class="table table-condensed">
					<tr ng-repeat="note in issue.note | orderBy: 'week'">
						<td class="note-date">
							{{note.week | date:'yyyy/MM/dd' }}
						</td>
						<td class="note-author">
							{{note.author}}
						</td>
						<td>
							<div ng-repeat="line in note.lines" class="note-detail">
								{{line}}
							</div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
